{% extends 'base.html' %}
{% load static %}

{% block css-head %}
{# To Add Select2 #}
<link rel="stylesheet" href="{% static 'topics/css/bootstrap-duallistbox.css' %}">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css">
{% endblock css-head %}
formset
{% block content %}
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{%url 'dashboard'%}">Home</a></li>
            <li class="breadcrumb-item active"><a href="{%url 'view_sale_order'%}">Sale Orders</a></li>
            <li class="breadcrumb-item active">Order</li>
        </ol>
    </nav>
</div>
<section class="content">
    <div class="container-fluid">
        <form method="post" autocomplete="off" novalidate>
            {{ formset.management_form }}
            <div class="card card-default">
                {% csrf_token %}
                <div class="card-body">
                    <h5 class="card-title">Sale Order Form</h5>
                        <div class="row mb-1">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">{{ form.name.label }}</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">{{ form.contact.label }}</label>
                                    {{ form.contact }}
                                    {{ form.contact.errors }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">{{ form.order_date.label }}</label>
                                    {{ form.order_date }}
                                    {{ form.order_date.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">{{ form.tags.label }}</label>
                                    {{ form.tags }}
                                    {{ form.tags.errors }}
                                </div>
                            </div>
                        </div>

                </div>
            </div>


            <div id="lot-container">


                <div class="card card-default">

                   <div class="card-body mt-2" id="order_line_body">
                        {% for forms in formset %}
                        <div class="row mt-2 extra_order_line">
                            {{ forms.id }}
                            {{ forms.DELETE }}
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        {{ forms.product.label }}
                                    </label>
                                    {{ forms.product }}
                                    {{ forms.product.errors }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        {{ forms.quantity.label }}
                                    </label>
                                    {{ forms.quantity }}
                                    {{ forms.quantity.errors }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>
                                        {{ forms.unit_price.label }}
                                    </label>
                                    {{ forms.unit_price }}
                                    {{ forms.unit_price.errors }}
                                </div>
                            </div>
                            <div class="col-md-3" >
                                 <div class="form-group">
                                    <label>
                                        {{ forms.unit_total.label }}
                                    </label>
                                    {{ forms.unit_total }}
                                    {{ forms.unit_total.errors }}
                                </div>
                            </div>
                            <div class="col-md-2" style="padding-top: 21px;">
                                {% if forms.id.value != 1 %}
                                    <a href="javascript:void(0);" class="btn btn-danger remove-form float-right"
                                    data-prefix="{{ forms.prefix }}"><i class="bi bi-trash-fill"></i></a>
                                {%endif%}
                            </div>
                        </div>
                         {% endfor %}
                    </div>
                     <div class="card-header d-flex">
                        <a href="javascript:void(0);" class="btn btn-warning add-form float-right">
                            Add a line</a>
                         <p style="margin-left: 259px;">Total: <span id="final_total_value">0</span></p>
                    </div>

                </div>

            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url 'view_sale_order' %}" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>

</section>

{% endblock content %}

{% block js-foot %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
<script src="{% static 'topics/js/jquery.bootstrap-duallistbox.js' %}"></script>

{% endblock js-foot %}
{% block pagejs %}
<script>
$(function(){
    $('.add-form:last').show()
    var demo1 = $('select[name="tags"]').bootstrapDualListbox();
      $('.moveall').append($('<i class="fas fa-arrow-right mr-1"></i><i class="fas fa-arrow-right"></i>'));
        $('.removeall').append($('<i class="fas fa-arrow-left"></i><i class="fas fa-arrow-left ml-1"></i>'));
    $(document).on('click', '.add-form', function () {
                let current_val = $('#id_form-TOTAL_FORMS').val()
                $.ajax({
                    url: "{% url 'add_lot_form' %}",
                    method: 'GET',
                    data: {"val": current_val},
                    success: function (result) {
                        current_val++;
                        $('#id_form-TOTAL_FORMS').val(current_val)
                        $("#order_line_body").append(result);
                    }
                });
            });

            $(document).on("click", ".remove-form", function () {
                let prefix = $(this).data('prefix');
                let is_update = $('#id_' + prefix + '-id').val()
                if (is_update !== '') {
                    $(this).closest('.extra_order_line').remove();
                    $('#id_' + prefix + '-DELETE').val('1')
                } else {
                    let current_val = $('#id_form-TOTAL_FORMS').val()
                    current_val--;
                    $('#id_form-TOTAL_FORMS').val(current_val)
                    $(this).closest('.extra_order_line').remove();
                }
                update_total_price();
            });

            function update_total_price() {
                var values = [];
                $('.unit_total').each(function(){
                    values.push(this.value);
                });
                console.log("balues",values, values.reduce((a, b) => parseInt(a) + parseInt(b), 0));
                 $('#final_total_value').text(values.reduce((a, b) => parseInt(a) + parseInt(b), 0));
            }
            update_total_price();

           $("body").on('change','.quantity',function() {
               $(this).closest(".extra_order_line").find('.unit_total').val($(this).closest(".extra_order_line").find('.unit_price').val() * $(this).val());
               $(this).closest(".extra_order_line").find('.unit_total').val($(this).closest(".extra_order_line").find('.unit_price').val() * $(this).val());
               update_total_price();
            });
             $("body").on('change','.unit_price',function() {
               $(this).closest(".extra_order_line").find('.unit_total').val($(this).closest(".extra_order_line").find('.quantity').val() * $(this).val());
               update_total_price();
            });

            $("body").on('change','.product',function() {
            var form_number = $(this).attr('name').split('-')[1]
               $.ajax({
                    url: "{% url 'fetch_product_price' %}",
                    method: 'GET',
                    data: {"val": $(this).val()},
                    success: function (result) {
                       $('#id_form-'+form_number+"-unit_price").val(result[0][0]);
                       $('#id_form-'+form_number+"-quantity").val(1);
                       $('#id_form-'+form_number+"-unit_total").val(result[0][0]);
                       update_total_price();
                    }
                });
});
            });



</script>
{% endblock pagejs %}
